[submodule "layouts/mastodon-embed-timeline"]
	path = layouts/mastodon-embed-timeline
	url = https://gitlab.com/idotj/mastodon-embed-timeline
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
